
pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #888;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-top: 1px solid black;
  border-right: solid 1px #000;
}

table tr {
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table td {
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  padding: .5em;
}